/*sections scss*/
.sct-wrap {
  max-width: $abs-max-width;
  margin: auto;
  line-height: 1.8;
  // overflow: hidden;
}
.sct-halves {
  .halves-inn {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    max-width: $standard-max-width;
    margin: auto;

    &.halves-inn__full {
      max-width: 100%;
    }
  }
  .halves-inn-box {
    padding: 1rem;
    max-width: 500px;
    min-width: 300px;
  }
  .halves-inn_img,
  .halves-inn_content {
    display: flex;
    justify-content: center;
    align-items: center;
    .video {
      max-width: 100%;
    }
  }
  @include desktop_style() {
    .halves-inn {
      padding: 1rem;
      flex-flow: row nowrap;
      &.halves-inn__full {
        padding: 1rem 0;
        max-width: 100%;
      }
      &.halves-inn__reverse {
        flex-flow: row-reverse nowrap;
      }
      &.halves-inn__90p {
        max-width: 1600px;
        width: 90%;
      }
    }
    .halves-inn_img,
    .halves-inn_content {
      flex-basis: 50%;
    }
    .halves-inn-box {
      margin: auto;
      padding: 7% 1rem;
    }
    .halves-inn_img,
    .halves-inn_content {
      &.halves-inn__one-fourth {
        flex-basis: 25%;
      }
      &.halves-inn__75w {
        flex-basis: 75%;
      }
      &.halves-inn__one-third {
        flex-basis: 33%;
      }
      &.halves-inn__two-thirds {
        flex-basis: 77%;
        .halves-inn-box {
          max-width: 700px;
        }
      }
      &.halves-inn__55w {
        flex-basis: 55%;
      }
      &.halves-inn__45w {
        flex-basis: 45%;
      }
    }
  }
  @include tablet_style {
    .halves-inn {
      flex-flow: column nowrap;
      align-items: center;
    }
    .halves-inn_content,
    .halves-inn_img {
      width: 100%;
    }
    .halves-inn_content {
      max-width: 500px;
    }
  }
}
.text-block {
  padding: 1rem;
  img {
    margin: auto;
  }
  .text-block-inn {
    margin: auto;
    text-align: center;
    &.text-block-inn__align-left-m-d {
      text-align: left;
    }
    &.text-block-inn__align-right-m-d {
      text-align: right;
    }
  }
  @include desktop_style() {
    .text-block-inn {
      max-width: $standard-max-width;
      &.text-block-inn__align-left-desktop {
        text-align: left;
      }
      &.text-block-inn__align-right-desktop {
        text-align: right;
      }
    }
  }
  @include tablet_style() {
    .text-block-inn {
      max-width: 500px;
      &.text-block-inn__align-left-mobile {
        text-align: left;
      }
      &.text-block-inn__align-right-mobile {
        text-align: right;
      }
    }
  }
}
.full-image {
  video,
  .video {
    max-width: 100%;
    display: block;
  }
  @include desktop_style() {
    padding: 2rem 0 0;
    &.full-image-90p {
      .full-image-wrap {
        max-width: 1600px;
        width: 90%;
        margin: auto;
      }
    }
    &.full-image-80p {
      .full-image-wrap {
        max-width: 1400px;
        width: 80%;
        margin: auto;
      }
    }
  }
  @include tablet_style() {
    padding: 1.5rem 0 0;
  }
  .full-image-wrap {
    width: max-content;
    max-width: 100%;
    margin: auto;
    &.full-image-wrap-70p {
      max-width: 70%;
    }
  }
}
/*Lists*/
ul.max-width-ul {
  width: max-content;
  max-width: 90%;
  margin: auto;
  padding-left: 2rem;
}
ul.disc-bullet {
  list-style-type: disc;
}
ul.no-bullets {
  list-style-type: none;
}
.colored-bullet-uls {
  list-style-type: none !important;
  li::before {
    content: "\2022";
    font-size: 1.2rem;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
  &.ul-bullet-color {
    li::before {
      color: $ul-bullet-color;
    }
  }
}
.li-mb2r {
  li {
    margin-bottom: 2rem;
  }
}
.li-mb1r {
  li {
    margin-bottom: 1rem;
  }
}
.li-mb05r {
  li {
    margin-bottom: 0.5rem;
  }
}
.li-plr03r {
  li {
    padding-right: 0.3rem;
    padding-left: 0.3rem;
  }
}
/*display*/
.block {
  display: block;
}
.flex-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include desktop_style() {
    flex-flow: row nowrap;
    &.flex-wrap__rowwrap-d {
      flex-flow: row wrap;
    }
    .flex-full-desktop {
      flex-basis: 100%;
    }
    .flex-two-thirds-desktop {
      flex-basis: 66%;
    }
    .flex-half-desktop {
      flex-basis: 50%;
    }
    .flex-one-third-desktop {
      flex-basis: 33%;
    }
    .flex_quarter-desktop {
      flex-basis: 25%;
    }
    .flex_fifth-desktop {
      flex-basis: 20%;
    }
  }
  @include tablet_style() {
    flex-flow: column nowrap;
    &.flex-wrap__rowwrap-m {
      flex-flow: row wrap;
    }
    &.flex-wrap__reverse {
      flex-flow: column-reverse nowrap;
    }
    &.flex-wrap__rowwrap-mobile {
      flex-flow: row wrap;
    }
    .flex-full-mobile {
      flex-basis: 100%;
    }
    .flex-two-thirds-mobile {
      flex-basis: 66%;
    }
    .flex-half-mobile {
      flex-basis: 50%;
    }
    .flex-one-third-mobile {
      flex-basis: 33%;
    }
    .flex_quarter-mobile {
      flex-basis: 25%;
    }
    .flex_fifth-mobile {
      flex-basis: 20%;
    }
  }
}

/*p modifiers*/
.p-max-width-70p {
  max-width: 70%;
}
.p-max-width-80p {
  max-width: 80%;
}
.p-max-width-300px {
  max-width: 300px;
}
.p-max-width-400px {
  max-width: 400px;
}
.p-max-width-500px {
  max-width: 500px;
}
.p-max-width-600px {
  max-width: 600px;
}

code {
  font-family: "Source Code Pro", monospace;
  font-weight: 800;
}
