@mixin tablet_style {
  @media screen and (max-width: 867px) {
    @content;
  }
}
@mixin desktop_style {
  @media screen and (min-width: 868px) {
    @content;
  }
}
@mixin max_style($max-style) {
  @media screen and (max-width: $max-style) {
    @content;
  }
}
@mixin max_min_style($mx-width) {
  @media screen and (max-width: $mx-width) and (min-width: 868px) {
    @content;
  }
}
@mixin h_resize($font-size, $size-map) {
  font-size: $font-size;
  $rest: 0.2rem;
  @each $width in $size-map {
    @include max_style($width) {
      font-size: #{$font-size - $rest};
      $rest: $rest + 0.2rem;
    }
  }
}
@mixin blt_pnt_style(
  $top,
  $left,
  $center: -50% -50%,
  $position: absolute,
  $objct: before,
  $color: false,
  $radius: false
) {
  position: relative;
  &#{before_after($objct)} {
    content: "";
    display: block;
    position: $position;
    left: $left;
    top: $top;
    @if $center {
      transform: translate(nth($center, 1), nth($center, 2));
    }
    @if $color {
      background-color: $color;
    }
    @if $radius {
      border-radius: $radius;
    }
    @content;
  }
}
@mixin absolute_box($object-name, $top, $left, $center: -50% -50%) {
  position: relative;
  #{$object-name} {
    position: absolute;
    top: $top;
    left: $left;
    @if $center {
      transform: translate(nth($center, 1), nth($center, 2));
    }
    @content;
  }
}
@mixin flex_set($justify: false, $align: false, $flow: row nowrap) {
  display: flex;
  flex-flow: $flow;
  @if $justify {
    justify-content: $justify;
  }
  @if $align {
    align-items: $align;
  }
}
@mixin create-d-m($class-names, $style-rule, $sizes, $start: 1) {
  @if $start == 1 {
    @for $i from 1 through length($class-names) {
      .#{nth($class-names,$i)} {
        #{$style-rule}: $i#{$sizes} !important;
      }
    }
    @for $i from 1 through length($class-names) {
      @include desktop_style {
        .#{nth($class-names,$i)}-d {
          #{$style-rule}: $i#{$sizes} !important;
        }
      }
    }
    @for $i from 1 through length($class-names) {
      @include tablet_style {
        .#{nth($class-names,$i)}-m {
          #{$style-rule}: $i#{$sizes} !important;
        }
      }
    }
  }
  @if $start == 0 {
    .#{$class-names} {
      #{$style-rule}: 0#{$sizes} !important;
    }
    @include desktop_style {
      .#{$class-names}-d {
        #{$style-rule}: 0#{$sizes} !important;
      }
    }
    @include tablet_style {
      .#{$class-names}-m {
        #{$style-rule}: 0#{$sizes} !important;
      }
    }
  }
}
