.nav-bar {
  max-width: $abs-max-width;
  background-color: $lb-purple-color;
  padding: 1rem;
  border-bottom: 2px solid $lb-yellow-color;
  @include desktop_style {
    padding: 2rem;
  }
}
.items-wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: $standard-max-width;
  margin: auto;
}

.nav-logo-wrap {
  flex-basis: 34%;

  @include desktop_style {
    max-width: 170px;
    flex-basis: 25%;
  }
  svg {
    max-width: 100%;
  }
}

.nav-items {
  flex-basis: 60%;
  display: flex;
  justify-content: flex-start;
  @include desktop_style {
    flex-basis: 25%;
  }
  .nav-item {
    margin-left: 1rem;
  }
  a {
    text-decoration: none;
    font-weight: 800;
    color: $white-color;
  }
}
