.start-sct-wrap {
  min-height: calc(100vh - 6rem);
  background-color: $lb-purple-color;
  color: $lb-yellow-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.initial-messages {
  font-size: 1.5em;
}
.loading-icon {
  max-width: 60px;
  margin: 1rem auto;
  animation: rotating 3s infinite;
  animation-timing-function: linear;
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
