body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $lb-purple-color;
}
h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  color: $lb-purple-color;
}

.regular-text {
  font-weight: 400;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.light-gray-text {
  color: $light-gray-font;
}
