%desktop-only {
  @include tablet_style {
    display: none;
  }
}
%mobile-only {
  @include desktop_style {
    display: none;
  }
}
.desktop-only {
  @extend %desktop-only;
}
.mobile-only {
  @extend %mobile-only;
}

/** general margin and padding utility classes **/
/*padding all sides variants m and d*/

/*rem*/
@include create-d-m("p0", padding, "rem", $start: 0);
@include create-d-m("p1r" "p2r" "p3r" "p4r" "p5r", padding, "rem");

/*padding-top variants m and d*/

/*rem*/
@include create-d-m("pt0", padding-top, "rem", $start: 0);
@include create-d-m(
  "pt1r" "pt2r" "pt3r" "pt4r" "pt5r" "pt6r" "pt7r" "pt8r" "pt9r" "pt10r",
  padding-top,
  "rem"
);

/*percentage*/
@include create-d-m("pt0", padding-top, "%", $start: 0);
@include create-d-m(
  "pt1p" "pt2p" "pt3p" "pt4p" "pt5p" "pt6p" "pt7p" "pt8p" "pt9p" "pt10p",
  padding-top,
  "%"
);

/*padding-right variants m and d*/

/*rem*/
@include create-d-m("pr0", padding-right, "rem", $start: 0);
@include create-d-m("pr1r" "pr2r" "pr3r" "pr4r" "pr5r", padding-right, "rem");

/*padding-bottom variants m and d*/

/*rem*/
@include create-d-m("pb0", padding-bottom, "rem", $start: 0);
@include create-d-m(
  "pb1r" "pb2r" "pb3r" "pb4r" "pb5r" "pb6r" "pb7r" "pb8r" "pb9r" "pb10r",
  padding-bottom,
  "rem"
);

/*percentage*/
@include create-d-m("pb0", padding-bottom, "%", $start: 0);
@include create-d-m(
  "pb1p" "pb2p" "pb3p" "pb4p" "pb5p" "pb6p" "pb7p" "pb8p" "pb9p" "pb10p",
  padding-bottom,
  "%"
);

/*padding-left variants m and d*/

/*rem*/
@include create-d-m("pl0", padding-left, "rem", $start: 0);
@include create-d-m("pl1r" "pl2r" "pl3r" "pl4r" "pl5r", padding-left, "rem");

/* margin auto variants */
.ma-d {
  @include desktop_style {
    margin: auto;
  }
}
.ma-m {
  @include tablet_style {
    margin: auto;
  }
}

/*margin-top variants m and d*/

/*rem*/
@include create-d-m("mt0", margin-top, "rem", $start: 0);
@include create-d-m(
  "mt1r" "mt2r" "mt3r" "mt4r" "mt5r" "mt6r" "mt7r" "mt8r" "mt9r" "mt10r",
  margin-top,
  "rem"
);

/*percentage*/
@include create-d-m("mt0", margin-top, "%", $start: 0);
@include create-d-m(
  "mt1p" "mt2p" "mt3p" "mt4p" "mt5p" "mt6p" "mt7p" "mt8p" "mt9p" "mt10p",
  margin-top,
  "%"
);

/*margin-bottom variants m and d*/

/*rem*/
@include create-d-m("mb0", margin-bottom, "rem", $start: 0);
@include create-d-m(
  "mb1r" "mb2r" "mb3r" "mb4r" "mb5r" "mb6r" "mb7r" "mb8r" "mb9r" "mb10r",
  margin-bottom,
  "rem"
);

/*percentage*/
@include create-d-m("mb0", margin-bottom, "%", $start: 0);
@include create-d-m(
  "mb1p" "mb2p" "mb3p" "mb4p" "mb5p" "mb6p" "mb7p" "mb8p" "mb9p" "mb10p",
  margin-bottom,
  "%"
);

.mt5rn-d {
  @include desktop_style {
    margin-top: -5rem;
  }
}

/*border*/
.border-top {
  border-top: 1px solid $border-color;
}
.border-top-d {
  @include desktop_style {
    border-top: 1px solid $border-color;
  }
}
.border-top-m {
  @include tablet_style {
    border-top: 1px solid $border-color;
  }
}
.border-bottom {
  border-bottom: 1px solid $border-color;
}
.border-bottom-d {
  @include desktop_style {
    border-bottom: 1px solid $border-color;
  }
}
.border-bottom-m {
  @include tablet_style {
    border-bottom: 1px solid $border-color;
  }
}
