$lb-purple-color: #1d0e23;
$lb-yellow-color: #f8be43;
$white-color: #fff;
$light-gray-font: #838383;
$border-color: $white-color;
$ul-bullet-color: $white-color;

/*divs and widths*/

$abs-max-width: 1920px;
$standard-max-width: 1200px;
